<a href="https://colab.research.google.com/github/VincentBEDU/UrbanSim/blob/main/OD_scenarioB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 2  ScenarioB

Our estimates did sum to the grand total of flows, but this is because we were really fitting a 'total constrained' model which used $k$ - our constant of proportionality -  to ensure everything sort of added up (to within 1 commuter).

Where we have a full flow matrix to calibrate parameters, we can incorporate the row (origin) totals, column (destination) totals or both origin and destination totals to <i>constrain</i> our flow estimates to these known values.

There are various reasons for wanting to do this, for example:

1. If we are interested in flows of money into businesses or customers into shops, we might have information on the amount of disposable income and shopping habits of the people living in different areas from loyalty card data. This is known information about our origins and so we could constrain our spatial interaction model to this known information - we can make the assumption that this level of disposable income remains the same. We can then use other information about the attractiveness of places these people might like to shop in (store size, variety / specialism of goods etc.), to estimate how much money a new store opening in the area might make, or if a new out-of-town shopping centre opens, how much it might affect the business of shops in the town centre. This is what is known in the literature as the ‘retail model’ and is perhaps the most common example of a <b>Production (orign) Constrained Spatial Interaction Model</b>.

2. We might be interested in understanding the impact of a large new employer in an area on the flows of traffic in the vicinity or on the demand for new worker accommodation nearby. A good example of where this might be the case is with large new infrastructure developments like new airports. For example, before the go-ahead for the new third runway at Heathrow was given, one option being considered was a new runway in the Thames Estuary. If a new airport was built here, what would be the potential impact on transport flows in the area and where might workers commute from? This sort of scenario could be tested with an <b>Attraction (destination) Constrained Spatial Interaction Model</b> where the number of new jobs in a destination is known (as well as jobs in the surrounding area) and the model could be used to estimate where the workers will be drawn from (and their likely travel-to-work patterns).

3. We might be interested in understanding the changing patterns of commuting or migration over time. Data from the Census allows us to know an accurate snap-shot of migrating and commuting patterns every 10 years. In these full data matrices, we know both the numbers of commuters/migrants leaving origins and arriving at destinations as well as the interactions between them. If we constrain our model estimates to this known information at origin and destination, we can examine various things, including:
    - The ways that the patterns of commuting/migration differ from the model predictions - where we might get more migrant/commuter flows than we would expect.
    - How the model parameters vary over time - for example how does distance / cost of travel affect flows over time? Are people prepared to travel further or less far than before?

# IV Scenarios B

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import folium
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats
import numpy as np
from math import sqrt

In [ ]:
# read London flow data
path="/content/drive/MyDrive/Dataset/london_flows.csv"
londflow = pd.read_csv(path)

In [ ]:
londflow.head()

  station_origin station_destination  flows  population   jobs     distance
0     Abbey Road   Bank and Monument      0         599  78549  8131.525097
1     Abbey Road             Beckton      1         599    442  8510.121774
2     Abbey Road           Blackwall      3         599    665  3775.448872
3     Abbey Road        Canary Wharf      1         599  58772  5086.514220
4     Abbey Road        Canning Town     37         599  15428  2228.923167

In [ ]:
# Assuming londflow is your DataFrame and 'distance' is the column name
# Remove rows where the 'distance' column has a value of 0
londflow1 = londflow[londflow['distance'] != 0]

# Now, londflow contains only the rows where distance is not zero

In [ ]:

# Filter rows where 'station_destination' is 'Canary Wharf'
canary_wharf_data = londflow1[londflow1['station_destination'] == 'Canary Wharf']

# Display the head of the filtered DataFrame along with the 'jobs' column
print(canary_wharf_data[['station_destination', 'jobs']].head())

    station_destination   jobs
3          Canary Wharf  58772
126        Canary Wharf  58772
348        Canary Wharf  58772
595        Canary Wharf  58772
817        Canary Wharf  58772

In [ ]:

# Reduce the number of jobs by 50% for rows where 'station_destination' is 'Canary Wharf'
#londflow1.loc[londflow1['station_destination'] == 'Canary Wharf', 'jobs'] *= 0.5

In [ ]:
# Filter rows where 'station_destination' is 'Canary Wharf'
canary_wharf_data = londflow1[londflow1['station_destination'] == 'Canary Wharf']

# Display the head of the filtered DataFrame along with the 'jobs' column
print(canary_wharf_data[['station_destination', 'jobs']].head())

    station_destination   jobs
3          Canary Wharf  58772
126        Canary Wharf  58772
348        Canary Wharf  58772
595        Canary Wharf  58772
817        Canary Wharf  58772

In [ ]:
londflow1.head()

  station_origin station_destination  flows  population   jobs     distance
0     Abbey Road   Bank and Monument      0         599  78549  8131.525097
1     Abbey Road             Beckton      1         599    442  8510.121774
2     Abbey Road           Blackwall      3         599    665  3775.448872
3     Abbey Road        Canary Wharf      1         599  58772  5086.514220
4     Abbey Road        Canning Town     37         599  15428  2228.923167

In [ ]:
#set up the metric calculations
def CalcRSqaured(observed, estimated):
    """Calculate the r^2 from a series of observed and estimated target values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""

    r, p = scipy.stats.pearsonr(observed, estimated)
    R2 = r **2

    return R2

def CalcRMSE(observed, estimated):
    """Calculate Root Mean Square Error between a series of observed and estimated values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""

    res = (observed -estimated)**2
    RMSE = round(sqrt(res.mean()), 3)

    return RMSE

## Production Constrained Model

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

#take the variables and produce logarithms of them
x_variables = ["population", "jobs", "distance"]
log_x_vars = []
for x in x_variables:
    londflow1[f"log_{x}"] = np.log(londflow1[x])
    log_x_vars.append(f"log_{x}")

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
<ipython-input-12-9e7bb6219314>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  londflow1[f"log_{x}"] = np.log(londflow1[x])
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
<ipython-input-12-9e7bb6219314>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  londflow1[f"log_{x}"] = np.log(londflow1[x])
<ipython-input-12-9e7bb6219314>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  londflow1[f"log_{x}"] = np.log(londflow1[x])

In [ ]:
londflow1.head()

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,6.395262,11.271478,9.003504
1,Abbey Road,Beckton,1,599,442,8510.121774,6.395262,6.091310,9.049012
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.395262,6.499787,8.236275
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,6.395262,10.981421,8.534348
4,Abbey Road,Canning Town,37,599,15428,2228.923167,6.395262,9.643939,7.709274

In [ ]:
# Check for missing values
print(londflow1.isnull().sum())

# Check data types
print(londflow1.dtypes)

station_origin         0
station_destination    0
flows                  0
population             0
jobs                   0
distance               0
log_population         0
log_jobs               0
log_distance           0
dtype: int64
station_origin          object
station_destination     object
flows                    int64
population               int64
jobs                     int64
distance               float64
log_population         float64
log_jobs               float64
log_distance           float64
dtype: object

In [ ]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

try:
    # Filter rows where 'flows' is not zero
    filtered_londflow1 = londflow1[londflow1['flows'] != 0]

    # Create the formula (the "-1" indicates no intercept in the regression model).
    formula = 'flows ~ station_origin + log_jobs + log_distance - 1'

    # Run a production-constrained simulation with increased max iterations
    prodSim = smf.glm(formula=formula, data=filtered_londflow1, family=sm.families.Poisson()).fit(maxiter=1000)
    print(prodSim.summary())
except LinAlgError as e:
    print("Error:", e)

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  flows   No. Observations:                43945
Model:                            GLM   Df Residuals:                    43545
Model Family:                 Poisson   Df Model:                          399
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -9.1409e+05
Date:                Tue, 09 Apr 2024   Deviance:                   1.6560e+06
Time:                        17:00:40   Pearson chi2:                 2.41e+06
No. Iterations:                     7   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
station_origin[Abbey Road]                      3.2704      0.042     77.519      0.000       3.188       3.353
station_origin[Acton Central]                   5.0089      0.031    162.363      0.000       4.948       5.069
station_origin[Acton Town]                      4.3974      0.020    216.218      0.000       4.358       4.437
station_origin[Aldgate]                         3.3611      0.022    155.436      0.000       3.319       3.404
station_origin[Aldgate East]                    3.4087      0.021    162.703      0.000       3.368       3.450
station_origin[All Saints]                      3.3157      0.038     86.582      0.000       3.241       3.391
station_origin[Alperton]                        4.0350      0.028    145.157      0.000       3.981       4.089
station_origin[Amersham]                        4.4927      0.032    140.375      0.000       4.430       4.555
station_origin[Anerley]                         4.9796      0.041    121.086      0.000       4.899       5.060
station_origin[Angel]                           3.7100      0.019    194.079      0.000       3.673       3.747
station_origin[Archway]                         4.5606      0.018    255.339      0.000       4.526       4.596
station_origin[Arnos Grove]                     4.3603      0.022    198.310      0.000       4.317       4.403
station_origin[Arsenal]                         3.4257      0.024    140.065      0.000       3.378       3.474
station_origin[Baker Street]                    4.2597      0.016    264.940      0.000       4.228       4.291
station_origin[Balham]                          5.2301      0.016    331.138      0.000       5.199       5.261
station_origin[Bank and Monument]               5.3340      0.012    436.398      0.000       5.310       5.358
station_origin[Barbican]                        2.4552      0.030     80.685      0.000       2.396       2.515
station_origin[Barking]                         5.3085      0.017    319.364      0.000       5.276       5.341
station_origin[Barkingside]                     3.8734      0.031    126.863      0.000       3.814       3.933
station_origin[Barons Court]                    4.0719      0.020    208.790      0.000       4.034       4.110
station_origin[Bayswater]                       3.3173      0.028    119.733      0.000       3.263       3.372
station_origin[Beckton]                         4.9001      0.031    155.908      0.000       4.839       4.962
station_origin[Beckton Park]                    3.4526      0.060     57.954      0.000       3.336       3.569
station_origin[Becontree]                       4.2940      0.024    177.030      0.000       4.246       4.342
station_origin[Belsize Park]                    3.7825      0.022    168.735      0.000       3.739       3.826
station_origin[Bermondsey]                      4.1030      0.018    226.339      0.000       4.068       4.139
station_origin[Bethnal Green]                   4.4083      0.017    262.719      0.000       4.375       4.441
station_origin[Blackfriars]                     4.1090      0.016    250.385      0.000       4.077       4.141
station_origin[Blackhorse Road]                 5.2080      0.016    319.635      0.000       5.176       5.240
station_origin[Blackwall]                       3.6755      0.034    107.474      0.000       3.608       3.743
station_origin[Bond Street]                     2.8611      0.025    115.872      0.000       2.813       2.909
station_origin[Borough]                         2.5401      0.029     86.362      0.000       2.482       2.598
station_origin[Boston Manor]                    3.5903      0.032    113.446      0.000       3.528       3.652
station_origin[Bounds Green]                    4.6390      0.019    238.793      0.000       4.601       4.677
station_origin[Bow Church]                      4.4342      0.027    164.658      0.000       4.381       4.487
station_origin[Bow Road]                        4.1332      0.020    210.419      0.000       4.095       4.172
station_origin[Brent Cross]                     3.6014      0.029    125.796      0.000       3.545       3.658
station_origin[Brentwood]                       6.8459      0.025    274.524      0.000       6.797       6.895
station_origin[Brixton]                         5.8895      0.014    433.627      0.000       5.863       5.916
station_origin[Brockley]                        5.6677      0.024    239.693      0.000       5.621       5.714
station_origin[Bromley-by-Bow]                  3.7064      0.023    160.948      0.000       3.661       3.752
station_origin[Brondesbury]                     5.0298      0.025    200.871      0.000       4.981       5.079
station_origin[Brondesbury Park]                4.0865      0.040    103.052      0.000       4.009       4.164
station_origin[Bruce Grove]                     5.0303      0.034    147.740      0.000       4.964       5.097
station_origin[Buckhurst Hill]                  4.0938      0.028    146.421      0.000       4.039       4.149
station_origin[Burnt Oak]                       4.5174      0.022    204.284      0.000       4.474       4.561
station_origin[Bush Hill Park]                  5.8970      0.029    201.665      0.000       5.840       5.954
station_origin[Bushey]                          4.1398      0.066     62.796      0.000       4.011       4.269
station_origin[Caledonian Road]                 3.5809      0.022    162.571      0.000       3.538       3.624
station_origin[Caledonian Road & Barnsbury]     3.3876      0.044     76.530      0.000       3.301       3.474
station_origin[Cambridge Heath]                 3.5979      0.056     63.916      0.000       3.488       3.708
station_origin[Camden Road]                     4.4447      0.031    143.637      0.000       4.384       4.505
station_origin[Camden Town]                     3.6580      0.021    176.515      0.000       3.617       3.699
station_origin[Canada Water]                    5.8191      0.013    446.319      0.000       5.794       5.845
station_origin[Canary Wharf]                    5.2408      0.014    373.081      0.000       5.213       5.268
station_origin[Canning Town]                    5.7087      0.014    420.966      0.000       5.682       5.735
station_origin[Cannon Street]                   3.3567      0.019    175.039      0.000       3.319       3.394
station_origin[Canonbury]                       4.8041      0.023    208.039      0.000       4.759       4.849
station_origin[Canons Park]                     4.4172      0.024    181.208      0.000       4.369       4.465
station_origin[Carpenders Park]                 5.6535      0.030    188.112      0.000       5.595       5.712
station_origin[Chadwell Heath]                  6.8132      0.020    341.841      0.000       6.774       6.852
station_origin[Chalfont & Latimer]              4.2379      0.035    120.111      0.000       4.169       4.307
station_origin[Chalk Farm]                      3.4922      0.023    148.673      0.000       3.446       3.538
station_origin[Chancery Lane]                   2.3381      0.031     74.237      0.000       2.276       2.400
station_origin[Charing Cross]                   3.8296      0.016    233.721      0.000       3.798       3.862
station_origin[Chesham]                         4.3497      0.035    122.577      0.000       4.280       4.419
station_origin[Cheshunt]                        4.4926      0.077     58.003      0.000       4.341       4.644
station_origin[Chigwell]                        3.1361      0.048     65.541      0.000       3.042       3.230
station_origin[Chingford]                       6.4671      0.025    255.413      0.000       6.417       6.517
station_origin[Chiswick Park]                   3.4355      0.030    113.082      0.000       3.376       3.495
station_origin[Chorleywood]                     4.1087      0.036    114.441      0.000       4.038       4.179
station_origin[Clapham Common]                  4.3443      0.019    234.485      0.000       4.308       4.381
station_origin[Clapham High Street]             5.4826      0.028    194.359      0.000       5.427       5.538
station_origin[Clapham Junction]                6.6702      0.017    394.567      0.000       6.637       6.703
station_origin[Clapham North]                   3.7564      0.022    169.963      0.000       3.713       3.800
station_origin[Clapham South]                   4.7494      0.017    277.316      0.000       4.716       4.783
station_origin[Clapton]                         5.5843      0.028    197.062      0.000       5.529       5.640
station_origin[Cockfosters]                     3.6086      0.034    105.784      0.000       3.542       3.675
station_origin[Colindale]                       5.0011      0.019    270.320      0.000       4.965       5.037
station_origin[Colliers Wood]                   4.8666      0.018    267.501      0.000       4.831       4.902
station_origin[Covent Garden]                   1.4341      0.050     28.823      0.000       1.337       1.532
station_origin[Crossharbour]                    4.2459      0.026    161.032      0.000       4.194       4.298
station_origin[Crouch Hill]                     4.0612      0.052     78.224      0.000       3.959       4.163
station_origin[Croxley]                         4.1300      0.034    122.379      0.000       4.064       4.196
station_origin[Crystal Palace]                  6.1423      0.026    238.763      0.000       6.092       6.193
station_origin[Custom House]                    3.7568      0.037    100.498      0.000       3.684       3.830
station_origin[Cutty Sark]                      4.8284      0.024    197.734      0.000       4.781       4.876
station_origin[Cyprus]                          4.0138      0.046     86.826      0.000       3.923       4.104
station_origin[Dagenham East]                   4.2376      0.026    162.202      0.000       4.186       4.289
station_origin[Dagenham Heathway]               4.7042      0.021    219.872      0.000       4.662       4.746
station_origin[Dalston Junction]                5.5691      0.020    285.423      0.000       5.531       5.607
station_origin[Dalston Kingsland]               5.3258      0.022    244.784      0.000       5.283       5.368
station_origin[Debden]                          4.2287      0.028    151.476      0.000       4.174       4.283
station_origin[Denmark Hill]                    5.6782      0.026    218.933      0.000       5.627       5.729
station_origin[Deptford Bridge]                 5.1393      0.023    223.029      0.000       5.094       5.184
station_origin[Devons Road]                     4.1377      0.029    142.498      0.000       4.081       4.195
station_origin[Dollis Hill]                     4.0184      0.023    172.688      0.000       3.973       4.064
station_origin[Ealing Broadway]                 5.7308      0.015    378.064      0.000       5.701       5.761
station_origin[Ealing Common]                   3.8433      0.025    151.224      0.000       3.793       3.893
station_origin[Earl's Court]                    4.6028      0.016    292.235      0.000       4.572       4.634
station_origin[East Acton]                      3.8982      0.024    163.379      0.000       3.851       3.945
station_origin[East Finchley]                   4.8474      0.018    270.384      0.000       4.812       4.883
station_origin[East Ham]                        5.1268      0.017    308.495      0.000       5.094       5.159
station_origin[East India]                      4.2072      0.026    160.637      0.000       4.156       4.258
station_origin[East Putney]                     4.6724      0.018    257.857      0.000       4.637       4.708
station_origin[Eastcote]                        4.5388      0.024    192.140      0.000       4.493       4.585
station_origin[Edgware]                         4.7006      0.021    220.362      0.000       4.659       4.742
station_origin[Edgware Road]                    3.4217      0.022    156.390      0.000       3.379       3.465
station_origin[Edmonton Green]                  5.8294      0.025    234.179      0.000       5.781       5.878
station_origin[Elephant & Castle]               4.4692      0.015    292.406      0.000       4.439       4.499
station_origin[Elm Park]                        4.6984      0.023    203.892      0.000       4.653       4.744
station_origin[Elverson Road]                   4.4576      0.032    141.255      0.000       4.396       4.519
station_origin[Embankment]                      3.4307      0.019    180.494      0.000       3.393       3.468
station_origin[Emerson Park]                    6.1870      0.056    111.304      0.000       6.078       6.296
station_origin[Enfield Town]                    6.3151      0.026    238.698      0.000       6.263       6.367
station_origin[Epping]                          4.9584      0.023    217.522      0.000       4.914       5.003
station_origin[Euston]                          4.9821      0.013    374.505      0.000       4.956       5.008
station_origin[Euston Square]                   4.0937      0.018    225.524      0.000       4.058       4.129
station_origin[Fairlop]                         3.6983      0.034    108.137      0.000       3.631       3.765
station_origin[Farringdon]                      3.9073      0.018    217.908      0.000       3.872       3.942
station_origin[Finchley Central]                5.0607      0.018    285.663      0.000       5.026       5.095
station_origin[Finchley Road]                   4.3295      0.019    232.171      0.000       4.293       4.366
station_origin[Finchley Road & Frognal]         4.4278      0.032    140.034      0.000       4.366       4.490
station_origin[Finsbury Park]                   5.8782      0.013    439.545      0.000       5.852       5.904
station_origin[Forest Gate]                     5.6453      0.023    241.960      0.000       5.600       5.691
station_origin[Forest Hill]                     6.0161      0.023    257.610      0.000       5.970       6.062
station_origin[Fulham Broadway]                 3.9131      0.021    186.600      0.000       3.872       3.954
station_origin[Gallions Reach]                  4.2686      0.041    103.222      0.000       4.188       4.350
station_origin[Gants Hill]                      4.9997      0.019    267.427      0.000       4.963       5.036
station_origin[Gidea Park]                      6.8797      0.021    328.943      0.000       6.839       6.921
station_origin[Gloucester Road]                 3.9923      0.018    217.319      0.000       3.956       4.028
station_origin[Golders Green]                   4.6344      0.019    245.199      0.000       4.597       4.671
station_origin[Goldhawk Road]                   3.3505      0.030    112.954      0.000       3.292       3.409
station_origin[Goodge Street]                   1.2724      0.053     23.835      0.000       1.168       1.377
station_origin[Goodmayes]                       6.4899      0.021    303.218      0.000       6.448       6.532
station_origin[Gospel Oak]                      4.3153      0.032    133.278      0.000       4.252       4.379
station_origin[Grange Hill]                     3.3838      0.041     82.199      0.000       3.303       3.464
station_origin[Great Portland Street]           2.7353      0.032     86.227      0.000       2.673       2.797
station_origin[Green Park]                      2.8112      0.025    114.492      0.000       2.763       2.859
station_origin[Greenford]                       4.4465      0.023    193.382      0.000       4.401       4.492
station_origin[Greenwich]                       4.4896      0.029    153.665      0.000       4.432       4.547
station_origin[Gunnersbury]                     3.9583      0.024    163.449      0.000       3.911       4.006
station_origin[Hackney Central]                 5.4624      0.021    264.731      0.000       5.422       5.503
station_origin[Hackney Downs]                   4.7724      0.036    131.888      0.000       4.701       4.843
station_origin[Hackney Wick]                    4.5195      0.028    159.608      0.000       4.464       4.575
station_origin[Haggerston]                      4.8500      0.025    196.166      0.000       4.802       4.898
station_origin[Hainault]                        4.7384      0.022    214.925      0.000       4.695       4.782
station_origin[Hammersmith]                     5.2155      0.015    350.135      0.000       5.186       5.245
station_origin[Hampstead]                       3.5633      0.026    138.221      0.000       3.513       3.614
station_origin[Hampstead Heath]                 4.1249      0.035    117.868      0.000       4.056       4.194
station_origin[Hanger Lane]                     4.0081      0.026    156.611      0.000       3.958       4.058
station_origin[Harlesden]                       3.5101      0.029    123.095      0.000       3.454       3.566
station_origin[Harold Wood]                     6.9406      0.022    313.896      0.000       6.897       6.984
station_origin[Harringay Green Lanes]           4.6692      0.046    101.860      0.000       4.579       4.759
station_origin[Harrow & Wealdstone]             4.3041      0.027    158.590      0.000       4.251       4.357
station_origin[Harrow-on-the-Hill]              5.2641      0.018    296.191      0.000       5.229       5.299
station_origin[Hatch End]                       5.5168      0.036    151.859      0.000       5.446       5.588
station_origin[Hatton Cross]                    4.0479      0.030    134.728      0.000       3.989       4.107
station_origin[Headstone Lane]                  4.6717      0.048     97.916      0.000       4.578       4.765
station_origin[Heathrow Terminal 4]             3.6621      0.037     97.832      0.000       3.589       3.735
station_origin[Heathrow Terminal 5]             3.7589      0.035    106.844      0.000       3.690       3.828
station_origin[Heathrow Terminals 2 & 3]        4.4430      0.025    177.992      0.000       4.394       4.492
station_origin[Hendon Central]                  4.6093      0.020    230.593      0.000       4.570       4.648
station_origin[Heron Quays]                     3.7218      0.026    144.996      0.000       3.672       3.772
station_origin[High Barnet]                     4.7390      0.022    218.477      0.000       4.697       4.782
station_origin[High Street Kensington]          3.3384      0.024    136.947      0.000       3.291       3.386
station_origin[Highams Park]                    6.6440      0.022    302.485      0.000       6.601       6.687
station_origin[Highbury & Islington]            5.6997      0.013    430.456      0.000       5.674       5.726

So, what do we have?

Well, there are the elements of the model output that should be familiar from the unconstrained model:

The $\gamma$ parameter related to the destination attractiveness: 0.7302

The $\beta$ distance decay parameter: 0.8152. Recall the negative sign in the equation.

We can see from the standard outputs from the model that all of the explanatory variables are statistically significant (P>|z| < 0.01) and the z-scores indicate that the destination salary is having the most influence on the model, with distance following closely behind. And then we have a series of paramaters which are the vector of $\alpha_i$ values associated with our origin constraints.

## Model Estimates
Now at this point you will want to know what effect the constraints have had on the estimates produced by the model, so let's plug the parameters back into Equation 4 and look...

In [ ]:
#create some Oi and Dj columns in the dataframe and store row and column totals in them:
#to create O_i, take cdatasub ...then... group by origcodenew ...then... summarise by calculating the sum of Total
O_i = pd.DataFrame(filtered_londflow1.groupby(["station_origin"])["flows"].agg(np.sum))
O_i.rename(columns={"flows":"O_i"}, inplace = True)
filtered_londflow1 = filtered_londflow1.merge(O_i, on = "station_origin", how = "left" )

D_j = pd.DataFrame(filtered_londflow1.groupby(["station_destination"])["flows"].agg(np.sum))
D_j.rename(columns={"flows":"D_j"}, inplace = True)
filtered_londflow1 = filtered_londflow1.merge(D_j, on = "station_destination", how = "left" )

In [ ]:
filtered_londflow1.head()

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j
0,Abbey Road,Beckton,1,599,442,8510.121774,6.395262,6.091310,9.049012,599,442
1,Abbey Road,Blackwall,3,599,665,3775.448872,6.395262,6.499787,8.236275,599,665
2,Abbey Road,Canary Wharf,1,599,58772,5086.514220,6.395262,10.981421,8.534348,599,58772
3,Abbey Road,Canning Town,37,599,15428,2228.923167,6.395262,9.643939,7.709274,599,15428
4,Abbey Road,Crossharbour,1,599,1208,6686.475560,6.395262,7.096721,8.807842,599,1208

Now, fihing out the coeff. from the prodsim glm object

In [ ]:
#We can do this by pulling out the parameter values
coefs = pd.DataFrame(prodSim.params)
coefs.reset_index(inplace=True)
coefs.rename(columns = {0:"alpha_i", "index":"coef"}, inplace = True)
to_repl = ["(station_origin)", "\[", "\]"]
for x in to_repl:
    coefs["coef"] = coefs["coef"].str.replace(x, "",regex=True)
#then once you have done this you can join them back into the dataframes
filtered_londflow1 = filtered_londflow1.merge(coefs, left_on="station_origin", right_on="coef", how = "left")
filtered_londflow1.drop(columns = ["coef"], inplace = True)
#check this has worked
filtered_londflow1.head()

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j,alpha_i
0,Abbey Road,Beckton,1,599,442,8510.121774,6.395262,6.091310,9.049012,599,442,3.270351
1,Abbey Road,Blackwall,3,599,665,3775.448872,6.395262,6.499787,8.236275,599,665,3.270351
2,Abbey Road,Canary Wharf,1,599,58772,5086.514220,6.395262,10.981421,8.534348,599,58772,3.270351
3,Abbey Road,Canning Town,37,599,15428,2228.923167,6.395262,9.643939,7.709274,599,15428,3.270351
4,Abbey Road,Crossharbour,1,599,1208,6686.475560,6.395262,7.096721,8.807842,599,1208,3.270351

OK, now we can save our parameter values into some variables...

In [ ]:
# Creating a New variables for beta

alpha_i = prodSim.params[0:398]
gamma = prodSim.params[398]
beta = -prodSim.params[399]
#beta1 = 0.65           # not forgetting the negative in the formular
#beta2 = 0.75

In [ ]:
alpha_i

station_origin[Abbey Road]          3.270351
station_origin[Acton Central]       5.008886
station_origin[Acton Town]          4.397394
station_origin[Aldgate]             3.361125
station_origin[Aldgate East]        3.408728
                                      ...
station_origin[Wood Street]         5.672160
station_origin[Woodford]            4.955425
station_origin[Woodgrange Park]     5.320215
station_origin[Woodside Park]       4.496709
station_origin[Woolwich Arsenal]    6.701868
Length: 398, dtype: float64

In [ ]:
gamma

0.7301699265793882

In [ ]:
beta

0.8151874614788027

Ready to generate some estimates

In [ ]:
filtered_londflow1["prodsimest1"] = np.exp(filtered_londflow1["alpha_i"]+gamma*filtered_londflow1["log_jobs"]
                                 - beta*filtered_londflow1["log_distance"])
#or you could do it the easy way like we did last week with the fitted column (See previous practical)
filtered_londflow1.head(10)

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j,alpha_i,prodsimest1
0,Abbey Road,Beckton,1,599,442,8510.121774,6.395262,6.091310,9.049012,599,442,3.270351,1.406918
1,Abbey Road,Blackwall,3,599,665,3775.448872,6.395262,6.499787,8.236275,599,665,3.270351,3.677350
2,Abbey Road,Canary Wharf,1,599,58772,5086.514220,6.395262,10.981421,8.534348,599,58772,3.270351,76.062924
3,Abbey Road,Canning Town,37,599,15428,2228.923167,6.395262,9.643939,7.709274,599,15428,3.270351,56.123931
4,Abbey Road,Crossharbour,1,599,1208,6686.475560,6.395262,7.096721,8.807842,599,1208,3.270351,3.568414
5,Abbey Road,Cutty Sark,2,599,1748,8503.898909,6.395262,7.466228,9.048280,599,1748,3.270351,3.841726
6,Abbey Road,Cyprus,7,599,850,6532.099618,6.395262,6.745236,8.784484,599,850,3.270351,2.813752
7,Abbey Road,Devons Road,1,599,611,3958.324171,6.395262,6.415097,8.283576,599,611,3.270351,3.326081
8,Abbey Road,East India,2,599,1522,3384.141666,6.395262,7.327781,8.126856,599,1522,3.270351,7.359304
9,Abbey Road,Island Gardens,2,599,691,7706.296370,6.395262,6.538140,8.949793,599,691,3.270351,2.113923

## Assessing the model output

So what do the outputs from our Production Constrained Model look like? How has the goodness-of-fit improved and how can we start to use this a bit like a retail model and assess the likley impacts of changing detsination attractiveness etc.?

### The flow matrics

In [ ]:
#first round the estimates
#filtered_londflow1["prodsimest1"] = round(filtered_londflow1["prodsimest1"],0)
#now we can create a pivot tabel to turn the paired list into a matrix, and compute the margins as well
londflowmat3 = filtered_londflow1.pivot_table(values ="prodsimest1", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)

londflowmat3.fillna(0, inplace=True)

londflowmat3

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.080449,599.0
Acton Central,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1224.0
Acton Town,0.000000,0.000000,0.000000,20.113147,20.161026,0.000000,9.812411,0.000000,0.000000,21.971277,...,18.345025,3.593363,6.111567,13.966017,0.000000,0.000000,0.000000,0.000000,0.000000,3745.0
Aldgate,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.397174,...,0.000000,0.000000,3.537277,2.867179,0.000000,0.000000,0.000000,0.000000,0.000000,2886.0
Aldgate East,0.000000,0.000000,2.942747,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.217503,...,5.759102,0.000000,0.000000,2.959688,0.000000,1.484809,0.000000,1.308642,0.000000,3172.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,0.000000,0.000000,8.426657,37.212112,40.784321,0.000000,0.000000,0.000000,0.000000,34.473399,...,17.200010,0.000000,10.962554,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4868.0
Woodgrange Park,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,530.0
Woodside Park,0.000000,0.000000,6.211346,21.790171,21.846134,0.000000,0.000000,0.000000,0.000000,26.202682,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3093.0
Woolwich Arsenal,33.965465,0.000000,0.000000,0.000000,0.000000,38.184713,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7892.0
All,409.916005,363.644384,2279.732345,8848.646220,9629.304518,523.448984,543.965808,66.454161,154.007581,9796.711703,...,3058.786374,528.857412,2279.757463,1624.419666,352.456322,528.200052,145.226122,554.415848,1083.031389,1542283.0

## Ready to generate the new  estimate with beta = 0.65

Error: 'alpha_i' column does not exist in the DataFrame.

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance
1,Abbey Road,Beckton,1,599,442,8510.121774,6.395262,6.091310,9.049012
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.395262,6.499787,8.236275
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,6.395262,10.981421,8.534348
4,Abbey Road,Canning Town,37,599,15428,2228.923167,6.395262,9.643939,7.709274
5,Abbey Road,Crossharbour,1,599,1208,6686.475560,6.395262,7.096721,8.807842
7,Abbey Road,Cutty Sark,2,599,1748,8503.898909,6.395262,7.466228,9.048280
8,Abbey Road,Cyprus,7,599,850,6532.099618,6.395262,6.745236,8.784484
9,Abbey Road,Devons Road,1,599,611,3958.324171,6.395262,6.415097,8.283576
10,Abbey Road,East India,2,599,1522,3384.141666,6.395262,7.327781,8.126856
11,Abbey Road,Island Gardens,2,599,691,7706.296370,6.395262,6.538140,8.949793

Here it is very easy to see the Origin Constrained working. The sum across all destinations for each origin in the estimated matrix is exactly the same sum (give or take 1 or 2) across the observed matrics - $\sum_j T_{ij} = \sum_j \lambda_{ij} = O_i$, but clearly, the same is not true when you sum across all origins for each destination - $\sum_i T_{ij} \neq \sum_i \lambda_{ij} \neq D_j$

### 2.2.2 How do the fits compare with the unconstrained model from last time?

In [ ]:
def CalcRSquared(observed, estimated):
    """Calculate the r^2 from a series of observed and estimated target values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""

    r, p = scipy.stats.pearsonr(observed, estimated)
    R2 = r **2

    return R2

def CalcRMSE(observed, estimated):
    """Calculate Root Mean Square Error between a series of observed and estimated values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""

    res = (observed -estimated)**2
    RMSE = round(sqrt(res.mean()), 3)

    return RMSE

In [ ]:
CalcRSquared(filtered_londflow1["flows"], filtered_londflow1["prodsimest1"])

0.3937304850830748

In [ ]:
CalcRMSE(filtered_londflow1["flows"], filtered_londflow1["prodsimest1"])

120.146

Clearly by constraining our model estimates to known origin totals, the fit of the model has improved quite considerably - from around 0.3114 in the unconstrained model to around 0.3937 in this model. The RMSE has also dropped quite noticeably (from 128.178 to 120.146)

# Scenario B

To reflect the significant increase in the cost of transport (distance) the actual beta has to be reduced. The original or actual beta = -0.8151874614788027. Therefore, beta = -0.65 and beta = -0.75 will be adopted.

In [ ]:
# Creating a New variables for beta

alpha_i = prodSim.params[0:398]
gamma = prodSim.params[398]
#beta = -prodSim.params[399]
beta1 = 0.65           # not forgetting the negative in the formular
beta2 = 0.75

In [ ]:
alpha_i

station_origin[Abbey Road]          3.270351
station_origin[Acton Central]       5.008886
station_origin[Acton Town]          4.397394
station_origin[Aldgate]             3.361125
station_origin[Aldgate East]        3.408728
                                      ...
station_origin[Wood Street]         5.672160
station_origin[Woodford]            4.955425
station_origin[Woodgrange Park]     5.320215
station_origin[Woodside Park]       4.496709
station_origin[Woolwich Arsenal]    6.701868
Length: 398, dtype: float64

In [ ]:
gamma

0.7301699265793882

In [ ]:
beta1

0.65

## Ready to generate the new  estimate with beta = 0.65

In [ ]:
filtered_londflow1["prodsimest2"] = np.exp(filtered_londflow1["alpha_i"]+gamma*filtered_londflow1["log_jobs"]
                                 - beta1*filtered_londflow1["log_distance"])
#or you could do it the easy way like we did last week with the fitted column (See previous practical)
filtered_londflow1.head(10)

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j,alpha_i,prodsimest1,prodsimest2
0,Abbey Road,Beckton,1,599,442,8510.121774,6.395262,6.091310,9.049012,599,442,3.270351,1.406918,6.272563
1,Abbey Road,Blackwall,3,599,665,3775.448872,6.395262,6.499787,8.236275,599,665,3.270351,3.677350,14.335254
2,Abbey Road,Canary Wharf,1,599,58772,5086.514220,6.395262,10.981421,8.534348,599,58772,3.270351,76.062924,311.477852
3,Abbey Road,Canning Town,37,599,15428,2228.923167,6.395262,9.643939,7.709274,599,15428,3.270351,56.123931,200.544803
4,Abbey Road,Crossharbour,1,599,1208,6686.475560,6.395262,7.096721,8.807842,599,1208,3.270351,3.568414,15.287971
5,Abbey Road,Cutty Sark,2,599,1748,8503.898909,6.395262,7.466228,9.048280,599,1748,3.270351,3.841726,17.125765
6,Abbey Road,Cyprus,7,599,850,6532.099618,6.395262,6.745236,8.784484,599,850,3.270351,2.813752,12.008390
7,Abbey Road,Devons Road,1,599,611,3958.324171,6.395262,6.415097,8.283576,599,611,3.270351,3.326081,13.067623
8,Abbey Road,East India,2,599,1522,3384.141666,6.395262,7.327781,8.126856,599,1522,3.270351,7.359304,28.174578
9,Abbey Road,Island Gardens,2,599,691,7706.296370,6.395262,6.538140,8.949793,599,691,3.270351,2.113923,9.271441

## Assessing the Output

Flow Metrics

In [ ]:
#first round the estimates
#filtered_londflow1["prodsimest1"] = round(filtered_londflow1["prodsimest1"],0)
#now we can create a pivot tabel to turn the paired list into a matrix, and compute the margins as well
londflowmat4 = filtered_londflow1.pivot_table(values ="prodsimest2", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)

londflowmat4.fillna(0, inplace=True)

londflowmat4

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.996581,2.076179e+03
Acton Central,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.434237e+03
Acton Town,0.000000,0.000000,0.000000,100.475609,100.951043,0.000000,40.032438,0.000000,0.00000,108.456862,...,90.483678,17.400034,32.120723,59.322401,0.000000,0.000000,0.000000,0.000000,0.000000,1.746521e+04
Aldgate,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,101.768265,...,0.000000,0.000000,16.835602,13.606355,0.000000,0.000000,0.000000,0.000000,0.000000,1.077368e+04
Aldgate East,0.000000,0.000000,14.735035,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,102.196634,...,29.400828,0.000000,0.000000,14.090539,0.000000,7.217301,0.000000,6.578012,0.000000,1.219677e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,0.000000,0.000000,46.642738,183.750489,198.242812,0.000000,0.000000,0.000000,0.00000,173.921502,...,96.241309,0.000000,57.310279,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.432339e+04
Woodgrange Park,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.202215e+03
Woodside Park,0.000000,0.000000,33.326421,109.278192,109.811678,0.000000,0.000000,0.000000,0.00000,127.346716,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.530278e+04
Woolwich Arsenal,153.490084,0.000000,0.000000,0.000000,0.000000,174.919740,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.588445e+04
All,1435.439943,1618.270652,10651.793407,37381.266770,40980.694712,1973.593745,2629.912375,352.363485,620.80754,42688.981987,...,15263.329474,2458.510215,10641.950177,7263.921109,1346.812798,2436.759455,580.870683,2632.769211,4800.506170,6.671072e+06

## Goodness of Fit of the Model

In [ ]:
def CalcRSquared(observed, estimated):
    """Calculate the r^2 from a series of observed and estimated target values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""

    r, p = scipy.stats.pearsonr(observed, estimated)
    R2 = r **2

    return R2

def CalcRMSE(observed, estimated):
    """Calculate Root Mean Square Error between a series of observed and estimated values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""

    res = (observed -estimated)**2
    RMSE = round(sqrt(res.mean()), 3)

    return RMSE

In [ ]:
CalcRSquared(filtered_londflow1["flows"], filtered_londflow1["prodsimest2"])

0.4182730072237843

In [ ]:
CalcRMSE(filtered_londflow1["flows"], filtered_londflow1["prodsimest2"])

315.286

## The second value of beta

In [ ]:
# Creating a New variables for beta

alpha_i = prodSim.params[0:398]
gamma = prodSim.params[398]
#beta = -prodSim.params[399]
beta1 = 0.65           # not forgetting the negative in the formular
beta2 = 0.75

In [ ]:
alpha_i

station_origin[Abbey Road]          3.270351
station_origin[Acton Central]       5.008886
station_origin[Acton Town]          4.397394
station_origin[Aldgate]             3.361125
station_origin[Aldgate East]        3.408728
                                      ...
station_origin[Wood Street]         5.672160
station_origin[Woodford]            4.955425
station_origin[Woodgrange Park]     5.320215
station_origin[Woodside Park]       4.496709
station_origin[Woolwich Arsenal]    6.701868
Length: 398, dtype: float64

In [ ]:
gamma

0.7301699265793882

In [ ]:
beta2

0.75

## Ready to generate the new  estimate with beta = 0.75

In [ ]:
filtered_londflow1["prodsimest3"] = np.exp(filtered_londflow1["alpha_i"]+gamma*filtered_londflow1["log_jobs"]
                                 - beta2*filtered_londflow1["log_distance"])
#or you could do it the easy way like we did last week with the fitted column (See previous practical)
filtered_londflow1.head(10)

,station_origin,station_destination,flows,population,jobs,distance,log_population,log_jobs,log_distance,O_i,D_j,alpha_i,prodsimest1,prodsimest2,prodsimest3
0,Abbey Road,Beckton,1,599,442,8510.121774,6.395262,6.091310,9.049012,599,442,3.270351,1.406918,6.272563,2.537765
1,Abbey Road,Blackwall,3,599,665,3775.448872,6.395262,6.499787,8.236275,599,665,3.270351,3.677350,14.335254,6.290838
2,Abbey Road,Canary Wharf,1,599,58772,5086.514220,6.395262,10.981421,8.534348,599,58772,3.270351,76.062924,311.477852,132.673793
3,Abbey Road,Canning Town,37,599,15428,2228.923167,6.395262,9.643939,7.709274,599,15428,3.270351,56.123931,200.544803,92.768792
4,Abbey Road,Crossharbour,1,599,1208,6686.475560,6.395262,7.096721,8.807842,599,1208,3.270351,3.568414,15.287971,6.336218
5,Abbey Road,Cutty Sark,2,599,1748,8503.898909,6.395262,7.466228,9.048280,599,1748,3.270351,3.841726,17.125765,6.929281
6,Abbey Road,Cyprus,7,599,850,6532.099618,6.395262,6.745236,8.784484,599,850,3.270351,2.813752,12.008390,4.988609
7,Abbey Road,Devons Road,1,599,611,3958.324171,6.395262,6.415097,8.283576,599,611,3.270351,3.326081,13.067623,5.707494
8,Abbey Road,East India,2,599,1522,3384.141666,6.395262,7.327781,8.126856,599,1522,3.270351,7.359304,28.174578,12.500073
9,Abbey Road,Island Gardens,2,599,691,7706.296370,6.395262,6.538140,8.949793,599,691,3.270351,2.113923,9.271441,3.788460

## Assessing the Output

Flow Matrics

In [ ]:
#first round the estimates
#filtered_londflow1["prodsimest1"] = round(filtered_londflow1["prodsimest1"],0)
#now we can create a pivot tabel to turn the paired list into a matrix, and compute the margins as well
londflowmat5 = filtered_londflow1.pivot_table(values ="prodsimest3", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)

londflowmat5.fillna(0, inplace=True)

londflowmat5

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.839807,9.760444e+02
Acton Central,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.198740e+03
Acton Town,0.000000,0.000000,0.000000,37.945381,38.070894,0.000000,17.090290,0.000000,0.000000,41.256318,...,34.436217,6.696379,11.763426,24.714744,0.000000,0.000000,0.000000,0.000000,0.000000,6.868000e+03
Aldgate,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44.960449,...,0.000000,0.000000,6.547153,5.300734,0.000000,0.000000,0.000000,0.000000,0.000000,4.840131e+03
Aldgate East,0.000000,0.000000,5.556911,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44.849224,...,10.958540,0.000000,0.000000,5.478700,0.000000,2.771167,0.000000,2.474928,0.000000,5.384710e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,0.000000,0.000000,16.554425,69.883669,76.117651,0.000000,0.000000,0.000000,0.000000,65.291310,...,33.934688,0.000000,21.056231,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.178932e+03
Woodgrange Park,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.275660e+02
Woodside Park,0.000000,0.000000,12.053325,41.172510,41.315817,0.000000,0.000000,0.000000,0.000000,48.900505,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.810015e+03
Woolwich Arsenal,61.593550,0.000000,0.000000,0.000000,0.000000,69.617446,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.434018e+04
All,670.220377,653.894425,4179.777356,15570.203327,17004.846594,881.927748,1011.345566,128.129491,266.453031,17478.832069,...,5761.097062,966.923932,4177.709741,2925.584314,597.210174,963.902449,250.295044,1022.383163,1947.721627,2.741317e+06

## Goodness of fit of the model

In [ ]:
def CalcRSquared(observed, estimated):
    """Calculate the r^2 from a series of observed and estimated target values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""

    r, p = scipy.stats.pearsonr(observed, estimated)
    R2 = r **2

    return R2

def CalcRMSE(observed, estimated):
    """Calculate Root Mean Square Error between a series of observed and estimated values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""

    res = (observed -estimated)**2
    RMSE = round(sqrt(res.mean()), 3)

    return RMSE

In [ ]:
CalcRSquared(filtered_londflow1["flows"], filtered_londflow1["prodsimest3"])

0.40727515084031013

In [ ]:
CalcRMSE(filtered_londflow1["flows"], filtered_londflow1["prodsimest3"])

137.334

## Chceking the three Prodsim estinmates

In [ ]:
#check
filtered_londflow1[["prodsimest1", "prodsimest2", "prodsimest3"]]

       prodsimest1  prodsimest2  prodsimest3
0         1.406918     6.272563     2.537765
1         3.677350    14.335254     6.290838
2        76.062924   311.477852   132.673793
3        56.123931   200.544803    92.768792
4         3.568414    15.287971     6.336218
...            ...          ...          ...
43940   131.612217   632.487260   244.531878
43941   268.799374  1202.816647   485.557029
43942    36.861579   167.463732    66.985509
43943   106.060284   438.026544   185.619016
43944    81.767698   374.138455   149.009349

[43945 rows x 3 columns]

In [ ]:
#check
print(filtered_londflow1[["prodsimest1", "prodsimest2", "prodsimest3"]].head(50))

    prodsimest1  prodsimest2  prodsimest3
0      1.406918     6.272563     2.537765
1      3.677350    14.335254     6.290838
2     76.062924   311.477852   132.673793
3     56.123931   200.544803    92.768792
4      3.568414    15.287971     6.336218
5      3.841726    17.125765     6.929281
6      2.813752    12.008390     4.988609
7      3.326081    13.067623     5.707494
8      7.359304    28.174578    12.500073
9      2.113923     9.271441     3.788460
10     2.603262    11.185718     4.627799
11     6.716939    27.253709    11.673606
12     7.361840    31.111001    13.001529
13     5.683201    23.767561     9.995650
14     4.560261    18.390439     7.906365
15     3.591437    14.331451     6.200801
16     2.874532    11.828329     5.023528
17    13.637599    58.277359    24.190994
18    10.208297    43.064701    18.016136
19    11.556615    38.229887    18.529684
20   242.387312   779.133371   384.260800
21    17.352939    50.652855    26.482915
22     9.541767    34.737530    15.888460
23    84.584829   238.685985   127.375415
24     4.460088    17.465232     7.643471
25     4.504308    18.501269     7.866125
26     7.080449    31.996581    12.839807
27    14.229904    60.586497    25.205254
28    18.582032    77.532172    32.652427
29    14.040819    67.990248    26.165765
30    28.492602   134.941401    52.634254
31     7.753718    38.299975    14.563251
32     5.178926    24.885769     9.621915
33    14.157055    70.766059    26.715232
34    88.096665   413.825377   162.215651
35    21.005291    92.542896    37.711542
36    20.850281    95.902916    38.074937
37   138.634284   493.163601   228.748218
38    14.929425    75.533373    28.307298
39     8.355101    43.133645    15.968620
40     8.924335    45.028708    16.903035
41    28.501257   129.037049    51.722607
42     5.899999    28.854297    11.038029
43    12.801748    61.114468    23.723115
44     3.950916    19.284539     7.385895
45    97.898900   478.492774   183.111003
46    12.336098    62.982972    23.474251
47    13.435267    68.298560    25.522211
48    29.785653   120.367945    51.683269
49    12.526916    58.587136    23.026495